<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Journal 39 Internet - ADV - SAV</h4>
                </div>
                <div class="card-body">
                    <br />
                    <form class="ng-untouched ng-pristine ng-invalid" #myForm="ngForm" ngNativeValidate>
                        <div>
                            <label for="file"><b>Fichier Internet :</b></label>
                            <input type="file" #fileInput name="File Upload" id="csvFile1"
                                (change)="fileChangeListener1($event)" accept=".xls" />
                            <br />
                            <label for="file"><b>Fichier ADV :</b></label>
                            <input type="file" #fileInput name="File Upload" id="csvFile2"
                                (change)="fileChangeListener2($event)" accept=".xls" />
                            <br />
                            <label for="file"><b>Fichier SAV :</b></label>
                            <input type="file" #fileInput name="File Upload" id="csvFile3"
                                (change)="fileChangeListener3($event)" accept=".xls" />
                            <br />
                            <label for="file"><b>Fichier CVD :</b></label>
                            <input type="file" #fileInput name="File Upload" id="csvFile4"
                                (change)="fileChangeListener4($event)" accept=".xls" />
                            <br />
                            <label for="file"><b>Fichier de CEPAC Remisé :</b></label>
                            <input type="file" #fileInput name="File Upload" id="csvFile5"
                                (change)="fileChangeListener5($event)" accept=".xls" />
                            <br />
                            <label for="file"><b>Fichier de CEPAC en attente :</b></label>
                            <input type="file" #fileInput name="File Upload" id="csvFile6"
                                (change)="fileChangeListener6($event)" accept=".xls" />
                            <br />
                            <label for="file"><b>Fichier de la Marie Do:</b></label>
                            <input type="file" #fileInput name="File Upload" id="csvFile7"
                                (change)="fileChangeListener7($event)" accept=".xls" />

                        </div>
                        <br />
                        <label>Choisissez votre type de transaction :</label>
                        <br />
                        <div>
                            <mat-radio-group aria-label="Selectionner une option" [(ngModel)]="selections"
                                name="selections">
                                <mat-radio-button value='credit' name="credit">Crédit &nbsp;&nbsp;&nbsp;
                                </mat-radio-button>
                                <mat-radio-button value='debit' name="debit">Débit &nbsp;&nbsp;&nbsp;
                                </mat-radio-button>&nbsp;&nbsp;&nbsp;
                            </mat-radio-group>
                        </div>
                        <br />
                        <label>Fichier remisé == Fichier en attente (ancienne caisse) :</label>
                        <br />
                        <div>
                            <mat-radio-group aria-label="Selectionner une option" [(ngModel)]="selectionss"
                                name="selectionss">
                                <mat-radio-button value='oui' name="oui">Oui &nbsp;&nbsp;&nbsp;
                                </mat-radio-button>
                                <mat-radio-button value='non' name="non">Non &nbsp;&nbsp;&nbsp;
                                </mat-radio-button>&nbsp;&nbsp;&nbsp;
                            </mat-radio-group>
                        </div>
                        <br />
                        <br />

                        <button (click)="deleteData()" [hidden]="dataSource.data.length === 0"
                            style="background-color: #f44133;" class="btn pull-right">
                            <b>Supprimer le tableau</b>
                        </button>

                        &nbsp;&nbsp;&nbsp;
                        <button (click)="createFile()" [hidden]="dataSource.data.length !== 0"
                            style="background-color: #f44133;" class="btn pull-right">
                            <b>Générer le journal</b>
                        </button>

                        <!--
                        &nbsp;&nbsp;&nbsp;
                        <button [hidden]="dataSource.data.length === 0" class="btn pull-right" style="background-color: #f44133;" (click)="addColumn()"> <b>Ajouter une colonne</b> </button>
                        --><br />
                    </form>
                    <br />
                    <br />
                    <mat-spinner style="stroke: #f44133;" strokeWidth="3" [diameter]="100"
                        *ngIf="dataSource.data.length === 0 && value === 0">
                    </mat-spinner>
                    <div #TABLE class="table-responsive" [hidden]="dataSource.data.length === 0">

                        <!--Table-->

                        <table id="reporting" mat-table bordered="true" matTableExporter #exporter="matTableExporter"
                            class="mat-elevation-z8 table-hover table" [dataSource]="dataSource">

                            <ng-container matColumnDef="Comptes">
                                <th mat-header-cell *matHeaderCellDef>
                                    Comptes
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <b> {{ element.Comptes }} </b>
                                </td>

                            </ng-container>

                            <ng-container matColumnDef="Gestions">
                                <th mat-header-cell *matHeaderCellDef>
                                    Gestions
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <b> {{ element.Gestions }} </b>
                                </td>

                            </ng-container>

                            <ng-container matColumnDef="Libelles">
                                <th mat-header-cell *matHeaderCellDef>
                                    Libellés
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <b> {{ element.Libelles }} </b>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="NB">
                                <th mat-header-cell *matHeaderCellDef>
                                    NB
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <b> {{ element.NB }} </b>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="Montants">
                                <th mat-header-cell *matHeaderCellDef>
                                    Montants
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <b> {{ element.Montants }} </b>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
                            <tr mat-row *matRowDef="let row; columns: getDisplayedColumns()"></tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[35, 50, 100]"></mat-paginator>
                        <div class="export-container">
                            <button style="background-color: #f44133;" class="btn pull-right" mat-raised-button
                                (click)="exporter.exportTable('xlsx', {fileName:date , sheet: 'caisses', Props: {Author: 'Reda CHANAA'}})">Exporter
                                en Excel</button>
                            <button style="background-color: #f44133;" class="btn pull-right" mat-raised-button
                                (click)="printTable()">Imprimer</button>
                                

                        </div>
                        <!--
                        <button style="background-color: #f44133;" mat-raised-button
                            (click)="exporter.exportTable('csv', {fileName:'Reporting',delimiter:';'})" class="btn pull-right">
                            Exporter en Excel
                        </button>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>